.logo{
  width: 100px;
}
#root{
  /* 設定高度最小為100%, 如果內容區塊很多, 可以長大 */
  min-height: 100%;
  /* 位置設為relative, 作為footer區塊位置的參考 */
  position: relative;
  /* padding-bottom: 100px;   */
  box-sizing: border-box;
}
.myHome{
  padding-bottom: 48rem;  
}
.main{
  margin-bottom: 38rem;
}
.title{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 120px;
}
.cardImg{
  width: 100%;
  height: 200px;  
  display: block;
}
.result{
  font-size: 20px;
}
.result > li{
  list-style: none;
}
.footer{
  /* text-align: center; */
  color: #fff;
  line-height: 25px;
  padding: 10px;
}
.loginForm{
  width: 60%;
  margin: 20px auto;
  border: 1px solid black;
  padding: 20px;
}
.myLogout{
  cursor: pointer;
}